
/* AC_S_BRANDS - GLOBALS
--------------------------------------------------------------------------------------------*/



//
//      SECTION BRANDS
//


[data-s-type="brands-alt"] {

    position: relative;
    padding: $default-padding 0;
    
    @include breakpoint(medium) {
        padding: 0 0 $default-padding / 2 0;
    }   

    &.v_is-slider {
        &.v_has-dots {
            .ac_brands_container {
                margin-bottom: 4em;
            }
        }

        .slick-dots {
            bottom: -4em;
        }
    }

}


//
//      CONTAINER
//

.ac_brands_alt_container{
    // max-width: $max-content-1200;
    position: relative;
    z-index: 2;
    margin: 2em auto;
    display: flex;
    flex-wrap: wrap;

    @if $ac-brands-alt-items-have-border-dividers == false and $ac-brands-alt-items-have-padding == true {
        padding: 0 $default-padding / 2;
    }
}


//
//      ITEM
//

.ac_brands_alt_item {
    display: flex;
    position: relative;
    flex-direction: column;
    margin-bottom: $ac-brands-alt-item-margin-bottom;

    @if $ac-brands-alt-items-on-small-two-items-a-row == true {
        width: percentage(1/2);
        max-width: percentage(1/2);
    } @else {
        width: 100%;
        max-width: 100%;
    }

    @if $ac-brands-alt-items-have-padding == true {
        padding: 0 $default-padding;
    } @else {
        padding: 0;
    }

    @if $ac-brands-alt-items-have-border-dividers == true {
        @if $ac-brands-alt-items-have-padding == true {
            padding: 0 $default-padding;
        }
        border-left: $ac-brands-alt-item-border;
        
    } @else {
        @if $ac-brands-alt-items-have-padding == true {
            padding: 0 $default-padding / 2;
        }
    }   

    &.v_smaller-logo {
        .ac_brands_alt_item_logo {
            transform: scale(.8);
        }
    }
    &.v_larger-logo {
        .ac_brands_alt_item_logo {
            transform: scale(1.2);
        }
    }

    @if $ac-brands-alt-items-have-border-dividers == true {

        @include breakpoint(small only) {
            @include last(1) {
                .ac_brands_alt_item_container {
                    border-bottom: none;
                }
            }
        }
        
    }

}
a.ac_brands_alt_item { // links only
    &:hover {
        @include breakpoint(large) {
            .ac_brands_alt_item_logo {
                opacity: $ac-brands-alt-item-logo-hover-opacity;
            }
            .ac_brands_alt_item_description {
                color: $ac-brands-alt-items-description-hover-color;
            }
        }
    } 
}

.ac_brands_alt_item_container {
    height: 100%;
    position: relative;
    background: $ac-brands-alt-item-content-background;
    padding: $ac-brands-alt-item-container-padding;

    @if $ac-brands-alt-items-have-border-dividers == true {
        border-bottom: $ac-brands-alt-item-border;
    }

    @if $ac-brands-alt-item-shadow == true {
        box-shadow: $default-box-shadow;
    }
}


//
//      BORDER RESPONSIVENESS
//


[data-s-type="brands-alt"] {
    &:not(.v_is-slider) {
        @if $ac-brands-alt-items-have-border-dividers == true {
            
            @if $ac-brands-alt-items-on-small-two-items-a-row == false {

                // border-left
                @include border-responsiveness('S1');
                @include border-responsiveness('S1-MP2');
                @include border-responsiveness('S1-MP2-M3');
                @include border-responsiveness('S1-MP2-M3-L4');
                @include border-responsiveness('S1-MP2-L5');

                // border-bottom
                @include bottom-items-no-border('S1-MP2');
                @include bottom-items-no-border('S1-MP2-L3');
                @include bottom-items-no-border('S1-MP2-L4');
                @include bottom-items-no-border('S1-MP2-L5');

            } @else {

                // border-left
                @include border-responsiveness('S1');
                @include border-responsiveness('S2');
                @include border-responsiveness('S2-M3');
                @include border-responsiveness('S2-L4');
                @include border-responsiveness('S2-L5');

                // border-bottom
                @include bottom-items-no-border('S2');
                @include bottom-items-no-border('S2-M3');
                @include bottom-items-no-border('S2-L4');
                @include bottom-items-no-border('S2-L5');

            }

        }
    }
}


//
//      DESCRIPTION
//

.ac_brands_alt_item_description {
    
    @if $ac-brands-alt-items-description-enable == true {
    text-align: center;
    font-size: 95%;
    color: $ac-brands-alt-items-description-color;
    } @else {
        display: none;
    }
}



//
//      LOGO
//

.ac_brands_alt_item_logo_container {
    display: flex;
    width: 100%;
    justify-content: center;
    @if $ac-brands-alt-items-on-small-two-items-a-row == false {
        padding: 0 10vw;
    }
    @include breakpoint(medium-portrait) {
        padding: 0;
    }
}
.ac_brands_alt_item_logo {
    width: 60%;
    height: $ac-brands-alt-item-logo-height;
    max-width: $ac-brands-alt-item-logo-max-width;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    transition: opacity $default-transition-speed;
    opacity: $ac-brands-alt-item-logo-initial-opacity;
}



//
//      SLIDER
//

[data-s-type="brands-alt"] {
    &.v_is-slider {
        .ac_brands_alt_container {
            display: block;
            z-index: inherit; // slick slider will handle z-index

            //slick fuoc fix
            max-height: $ac-brands-alt-items-slider-fouc-height;
            overflow: hidden;
            opacity: 0;
            transition: opacity $default-transition-speed;

            // drop fouc if slick is initialized
            &.slick-initialized  {
                max-height:  $ac-brands-alt-items-slider-fouc-height;
                overflow: visible;
                opacity: 1;
            }
        }

        [data-s-amount-item] {
        // because all items are in one line, margin on the bottom make no sense
            margin-bottom: 0;
        }

        [data-border-bottom] {
            border-bottom-color: transparent;
        }

        // overrule border left behaviour
        @if $ac-brands-alt-items-have-border-dividers == true {
         
            .slick-slide {
                border-left-color: transparent !important;
            }
            .slick-active ~ .slick-active{
                border-left: $ac-brands-alt-item-border !important;
            }
            
        }

        // if amount on small == 1, we can hide the border all together. This also prevents content grow flickers
        @include breakpoint(small only) {
            [data-s-amount-item] {
                border-left-color: transparent;
            }
        }
    }
}