/* SECTION - DIVIDER - ANGLED
--------------------------------------------------------------------------------------------*/

&[data-s-divider-type="angled"] {
    .ac_section_divider_top {
        position: absolute;
        top: -2vw;
        z-index: -1;
        width: 100%;
        height: 4vw;
        transform: skewY(-2deg);
    }
    .ac_section_divider_bottom {
        position: absolute;
        bottom: -2vw;
        z-index: -1;
        width: 100%;
        height: 4vw;
        transform: skewY(-2deg);
    }
}

